<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
    <div class="card product-card">
        <div class="product-card-actions d-flex align-items-center"><a class="btn-action nav-link-style me-2"
                href="#"><i class="ci-compare me-1"></i>Compare</a>
            <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title=""
                data-bs-original-title="Add to wishlist" aria-label="Add to wishlist"><i class="ci-heart"></i></button>
        </div><a class="card-img-top d-block overflow-hidden" href="#"><img
                src="" alt="Product"></a>
        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartphones</a>
            <h3 class="product-title fs-sm"><a href="#">Popular Smartphone 128GB</a></h3>
            <div class="d-flex justify-content-between">
                <div class="product-price"><span class="text-accent">$965.<small>00</small></span></div>
                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                        class="star-rating-icon ci-star-filled active"></i><i
                        class="star-rating-icon ci-star-filled active"></i><i
                        class="star-rating-icon ci-star-filled active"></i><i
                        class="star-rating-icon ci-star-filled active"></i>
                </div>
            </div>
        </div>
        <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i
                    class="ci-cart fs-sm me-1"></i>Add to Cart</button>
            <div class="text-center"><a class="nav-link-style fs-ms" href="#"
                    data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick view</a></div>
        </div>
    </div>
    <hr class="d-sm-none">
</div>