<!-- Products grid (Trending products)-->
<section class="container pt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
      <h2 class="h3 mb-0 pt-3 me-2">Trending products</h2>
      <div class="pt-3"><a class="btn btn-outline-accent btn-sm" ng-href="/">More products<i
            class="ci-arrow-right ms-1 me-n1"></i></a></div>
    </div>
    <!-- Grid-->
    <div class="">
      <product-component></product-component>
    </div>
    <input type="text" name="a" ng-model="a">
    <input type="text" name="b" ng-model="b">
    <button ng-click="doSum(a,b)">Sum</button>
  </section>